<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> Change your profile</h3>
    </div>
    <div class="panel-body">

            <img ng-src="{{vm.user.profile.profile_picture}}" alt="Profile picture" style="height: 150px; width:100px">
            <form class="form-horizontal book-detail" ng-submit="vm.updateMe()" name="form" enctype="multipart/form-data">

                <hr>

                <div class="form-group ">
                <label class="col-sm-2">Picture </label>
                <div class="col-sm-10">
                    <span ng-show="file">
                        <img alt="New picture" ngf-thumbnail="file || '/thumb.jpg'" style="height: 64px;width: 64px">
                    </span>
                    <div class="button btn btn-default" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                        ngf-resize="{width: 150, height: 200}"> <i class="fa fa-image"></i> Choose a picture </div>
                    </div>
                    <!--<input type="file" ng-model="vm.user.profile.profile_picture" class="form-control">-->
              </div>

                <div class="form-group ">
                <label class="col-sm-2">Username <span class="required-asterisk">*</span></label>
                <div class="col-sm-10">
                  <input class="form-control" ng-model="vm.user.username" required>
                </div>
              </div>

                <div class="form-group ">
                <label class="col-sm-2">First Name</label>
                <div class="col-sm-10">
                  <input class="form-control" ng-model="vm.user.first_name">
                </div>
              </div>

                <div class="form-group ">
                <label class="col-sm-2">Last Name</label>
                <div class="col-sm-10">
                  <input class="form-control" ng-model="vm.user.last_name">
                </div>
              </div>


              <div class="form-group ">
                <label class="col-sm-2">Email</label>
                <div class="col-sm-10">
                  <input class="form-control"ng-model="vm.user.email" class="form-control">
                </div>
              </div>

               <div class="form-group field-group">
                <label class="col-sm-2">Mobile # <span class="required-asterisk">*</span></label>
                <div class="col-sm-10">
                  <input class="form-control" ng-model="vm.user.profile.mobile_phone">
                </div>
              </div>

                <div class="form-group field-group">
                <label class="col-sm-2">Country <span class="required-asterisk">*</span></label>
                <div class="col-sm-10">
                        <select class="form-control" ng-model="vm.user.profile.country" ng-options="unit.id as unit.name for unit in vm.countryList"></select>
                    </div>
              </div>

                <div class="form-group field-group">
                <label class="col-sm-2">City </label>
                <div class="col-sm-10">
                  <input class="form-control" ng-model="vm.user.profile.city">
                </div>
              </div>


                <div class="form-group field-group">
                <label class="col-sm-2">Hide my identity (Except username) </label>
                <div class="col-sm-10">
                  <input type="checkbox" ng-model="vm.user.profile.hide_my_address">
                </div>
              </div>


                <hr>

                <div class="form-group field-group">
                <label class="col-sm-2"></label>
                    <div class="col-sm-7">
                        <button class="btn btn-default" type="submit"><i class="fa fa-save"></i> Save</button>

                        <div ng-show="vm.alert.type" class="side-notification" uib-alert ng-class="'alert-' + (vm.alert.type || 'warning')" close="vm.closeAlert()" dismiss-on-timeout="2000">{{vm.alert.msg}}</div>

                    </div>
                </div>

            </form>

    </div>
</div>