<!-- Navigation
    ==========================================-->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Metaf</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{'active': currentState=='main.public.about'}"><a ui-sref="main.public.about"><i class="fa fa-info-circle"></i> About</a></li>
                <li ng-class="{'active': currentState=='main.public.home'}"><a ui-sref="main.public.home"><i class="fa fa-book"></i> Books</a></li>
                <li ng-class="{'active': currentState=='main.public.wish'}"><a ui-sref="main.public.wish"><i class="fa fa-list"></i> Wish list</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left" ng-show="vm.visitingAfterSignIn()">
                <li ng-class="{'active': currentState=='main.admin.dashboard'}"><a ui-sref="main.admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-hide="vm.isSignedIn()">
                <li ng-class="{'active': currentState=='main.public.signup'}"><a ui-sref="main.public.signup"><i class="fa fa-plus-circle"></i> Sign up</a></li>
                <li ng-class="{'active': currentState=='main.public.signin'}"><a ui-sref="main.public.signin"><i class="fa fa-sign-in"></i> Sign in</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="vm.isSignedIn()">
                <li ng-class="{'active': currentState=='main.admin.profile'}"><a ui-sref="main.admin.profile"><i class="fa fa-user"></i> Welcome {{vm.user.first_name}}</a></li>
                <li><button class="btn btn-link navbar-btn" ng-click="vm.signOut()"><i class="fa fa-sign-out"></i> Sign out</button></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">

    <div class="col-lg-3" ng-hide="currentState == 'main.public.signin' || currentState == 'main.public.signup'">

        <div ng-show="currentState == 'main.public.home'">
            <h4>Genre</h4>
            <ul class="sidebar-filter">
                <li ng-repeat="genre in vm.genreList"><input type="checkbox" name="genre.name"> {{genre.name}}</li>
            </ul>
            <h4>Language</h4>
            <ul class="sidebar-filter">
                <li ng-repeat="lang in vm.languageList"><input type="checkbox" name="lang.id"> {{lang.name}}</li>
            </ul>
            <h4>Location</h4>
            <ul class="sidebar-filter">
                <li ng-repeat="country in vm.countryList"><input type="checkbox" name="country.id"> {{country.name}}</li>
            </ul>
        </div>


    </div>

    <div ng-class="{'col-lg-9':currentState == 'main.public.home' || currentState == 'main.public.wish'}">
        <!--Main content Goes here-->
        <ui-view></ui-view>
        <!--Main content ends here-->
    </div>
</div>


<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>ALL RIGHTS RESERVED. COPYRIGHT © 2016. </p>
        </div>
        <div class="pull-right fnav">
            <ul class="list-unstyled list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</nav>


