<!-- Navigation
    ==========================================-->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Metaf</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left" ng-show="vm.isSignedIn()">
                <li ng-class="{'active': currentState=='main.admin.books'}"><a ui-sref="main.admin.books"><i class="fa fa-book"></i> My Books</a></li>
                <li ng-class="{'active': currentState=='main.admin.wishes'}"><a ui-sref="main.admin.wishes"><i class="fa fa-list"></i> My Wish list</a></li>
                <li ng-class="{'active': currentState=='main.admin'}"><a ui-sref="main.admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="main.admin.home"><i class="fa fa-user"></i> Welcome {{vm.user.first_name}}</a></li>
                <li><button class="btn btn-link navbar-btn" ng-click="vm.signOut()"><i class="fa fa-sign-out"></i> Sign out</button></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">

    <div class="col-lg-3" ng-show="currentState == 'main.admin.books' || currentState == 'main.admin.wishes'">

        <div ng-show="vm.currentState == 'main.admin.books'">
            <h4>Genre</h4>
            <ul class="sidebar-filter">
                <li ng-repeat="genre in vm.genreList"><input type="checkbox" name="genre.name"> {{genre.name}}</li>
            </ul>
            <h4>Language</h4>
            <ul class="sidebar-filter">
                <li ng-repeat="lang in vm.languageList"><input type="checkbox" name="lang.id"> {{lang.name}}</li>
            </ul>
            <h4>Status</h4>
            <ul class="sidebar-filter">
                <li ng-repeat="status in vm.bookStatusList"><input type="checkbox" name="status.id"> {{status.name}}</li>
            </ul>
            <h4>Condition</h4>
            <ul class="sidebar-filter">
                <li ng-repeat="condition in vm.bookConditionList"><input type="checkbox" name="condition.id"> {{condition.name}}</li>
            </ul>

        </div>

    </div>


    <div ng-class="{'col-lg-9':vm.currentState == 'main.admin.books' || vm.currentState == 'main.admin.wishes'}">
        <!--Main content Goes here-->
        <ui-view></ui-view>
        <!--Main content ends here-->
    </div>
</div>


<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>ALL RIGHTS RESERVED. COPYRIGHT © 2016. </p>
        </div>
        <div class="pull-right fnav">
            <ul class="list-unstyled list-inline">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</nav>


